

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h2>Login </h2><hr>

    <label for="email">Email:</label><br>
    <input type="email" id="username" formControlName="email" required>

      <p *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched">email is required!</p>

    <label for="password">Password:</label><br>
    <input type="password" id="password" formControlName="password">

    <p *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">Password is required!</p>

    <button type="submit" [disabled]="loginForm.invalid">Log in</button>
  </form>
